# Fill all values and rename this file to '.env'

# DataBase
MARIADB_DBNAME=
MARIADB_USERNAME=
MARIADB_PASSWORD=

# WordPress
WORDPRESS_URL=
WORDPRESS_=

# WordPress Admin
WORDPRESS_ADMIN_USERNAME=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=

# WordPress User
WORDPRESS_USER_USERNAME=
WORDPRESS_USER_PASSWORD=
