# Fill all values and rename this file to '.env'

# DataBase
MARIADB_DBNAME=wordpress
MARIADB_USERNAME=wpuser
MARIADB_PASSWORD=wppass

# WordPress
WORDPRESS_URL=sangkkim.42.fr
WORDPRESS_TITLE=Meow

# WordPress Admin
ADMIN_USERNAME=norminette
ADMIN_PASSWORD=WeL0ve42Seoul
ADMIN_EMAIL=norminet@42.fr

